In [3]:
import pandas as pd

In [4]:
# creating a new Pandas series
groceries = pd.Series(data=[1, 6, 'Yes', 'No'], index=['bread', 'eggs', 'apple', 'banana'])

# printing items from the series
print(groceries)
print(groceries.shape)
print(groceries.values)
print(groceries.index)

# checking for key in series
print('Oleander' in groceries)

bread       1
eggs        6
apple     Yes
banana     No
dtype: object
(4,)
[1 6 'Yes' 'No']
Index(['bread', 'eggs', 'apple', 'banana'], dtype='object')
False

In [5]:
# remove an item

groceries.drop('banana', inplace=True)
print(groceries)

bread      1
eggs       6
apple    Yes
dtype: object

In [43]:
# build a dictionary of scores

pers1_scores = [90, 95, 70]
pers1_subjects = ['Math', 'English', 'Science']
pers2_scores = [80, 80, 99]
pers2_subjects = ['Math', 'English', 'Commerce']

scores = {'Prashu': pd.Series(pers1_scores, pers1_subjects), 'Peachy': pd.Series(pers2_scores, pers2_subjects)}
data = pd.DataFrame(scores)


print(data)
print(data.values)
print(data.index)
print(data.columns)

prashu_scores = pd.DataFrame(scores, columns=["Prashu"])
print(prashu_scores)

          Prashu  Peachy
Commerce     NaN    99.0
English     95.0    80.0
Math        90.0    80.0
Science     70.0     NaN
[[nan 99.]
 [95. 80.]
 [90. 80.]
 [70. nan]]
Index(['Commerce', 'English', 'Math', 'Science'], dtype='object')
Index(['Prashu', 'Peachy'], dtype='object')
         Prashu
Math         90
English      95
Science      70

In [44]:
# add more rows / columns
# append adds to the row

print(data)
new_scores = {'Prashu': 60, 'Peachy': 75}
data = data.append(pd.DataFrame(new_scores, index=['Biology']))
print(data)

          Prashu  Peachy
Commerce     NaN    99.0
English     95.0    80.0
Math        90.0    80.0
Science     70.0     NaN
          Prashu  Peachy
Commerce     NaN    99.0
English     95.0    80.0
Math        90.0    80.0
Science     70.0     NaN
Biology     60.0    75.0
          Prashu  Rashi  Peachy
Commerce     NaN   90.0    99.0
English     95.0   80.0    80.0
Math        90.0    NaN    80.0
Science     70.0   60.0     NaN
Biology     60.0   50.0    75.0

In [45]:
# insert adds to the column

data.insert(1, 'Rashi', [90, 80, None, 60, 50])
print(data)

ValueError: cannot insert Rashi, already exists

In [46]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])

# We display the DataFrame
store_items

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      NaN     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     NaN     10    NaN       35

In [54]:
print(store_items.isnull().sum())
print(store_items.isnull().sum().sum())
print(store_items.count())

bikes      0
glasses    1
pants      0
shirts     1
shoes      0
suits      1
watches    0
dtype: int64
3
bikes      3
glasses    2
pants      3
shirts     2
shoes      3
suits      2
watches    3
dtype: int64

In [55]:
# drop and fill spots

store_items.dropna(axis=1)

         bikes  pants  shoes  watches
store 1     20     30      8       35
store 2     15      5      5       10
store 3     20     30     10       35

In [56]:
store_items.dropna(axis=0)

         bikes  glasses  pants  shirts  shoes  suits  watches
store 2     15     50.0      5     2.0      5    7.0       10

In [60]:
store_items.fillna(0)

# Fill methods = ffill, backfill

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      0.0     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     0.0     10    0.0       35